// Colors
$main-color: #232323;
$gray:#88898b;
$cyan:rgb(34, 238, 238);

//Fonts
$main-font: 'Exo 2', sans-serif; 
$main-font-alt: 'Inter', sans-serif;
$label-font:'Montserrat', sans-serif;
$bgtext-font:"Edu NSW ACT Foundation", cursive;